service firebase.storage {
  match /b/{bucket}/o {
    match /{booker}/images {
      match/{allImages=**} {
      	allow read: if resource.contentType.matches('image/.*');
      	allow write: if request.resource.contentType.matches('image/.*');
      }
      
    }
  }
}
